<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>HouseName</key>
		<string>古荡养老院</string>
		<key>PartNames</key>
		<array>
			<dict>
				<key>partname</key>
				<string>古荡老人公寓</string>
				<key>partcode</key>
				<string>00001</string>
			</dict>
			<dict>
				<key>partname</key>
				<string>智汇健康</string>
				<key>partcode</key>
				<string>00004</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
