<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>loginuserpwdphone</key>
	<string></string>
	<key>loginusernamephone</key>
	<string></string>
	<key>loginusername</key>
	<string>yuanzhang</string>
	<key>loginuserpwd</key>
	<string>123</string>
	<key>serverjid</key>
	<string>ewell@122.224.242.241</string>
	<key>xmppserver</key>
	<string>122.224.242.241</string>
	<key>xmppport</key>
	<string>7018</string>
	<key>xmppusername</key>
	<string>pad@122.224.242.241</string>
	<key>xmppuserpwd</key>
	<string></string>
	<key>updatedate</key>
	<string></string>
	<key>xmppusernamephone</key>
	<string></string>
</dict>
</plist>
